.okvir{
    font-size: 1.4rem;
    width: 100%;
    display: flex;
   
    padding: 4.5rem;
    background-color: #faf9f9;
    border-bottom: 1px solid #f4f2f2;
    
    justify-content: space-around;
    align-items: center;

    @include respond(tab-port) {
        flex-direction: column;
        font-size: 1.2em;
        align-items: center;
    }
    
}
.map{
    margin: 1rem;
}
.kontakt {
    background-color: #fff;
    box-shadow:  0 2rem 5rem rgba(0,0,0,.06);
    padding: 3rem;
    margin-bottom: 3.5rem;
    position: relative;
    overflow: hidden;

    @include respond(tab-land) {
        width: 40%;
        font-size: 1.5rem;
    }

    @include respond(tab-port){
        font-size: 1.3rem;
        width: 100%;
    }
}
h1{
    border-bottom: 1px solid #5e052a41;

    @include respond(tab-port){
        font-size: 1.7em;
    }
}